
.lingwo-entry {
  font-size: 12pt;
}

.lingwo-entry-heading {
  font-size: 14pt;
  padding-bottom: 1em;
}

.lingwo-pos {
  font-size: 12pt;
  font-weight: bold;
  color: red;
}

.lingwo-sense-clue {
  font-size: 10pt;
  font-style: italic;
}

.lingwo-sense-old-message {
  color: red;
}

ol.lingwo-sense-list {
  padding-left: 4em;
}

blockquote.lingwo-example {
  margin-left: 4em;
  font-style: italic;
}

