
#edit--lingwo-fields-add-new-form {
    border: 0;
    margin: 0;
    padding: 0;
}

#edit--lingwo-fields-add-new-form legend {
    font-weight: bold;
}

.lingwo-fields-noname,
.lingwo-fields-addvalue {
    font-weight: normal;
    color: blue;
}

.lingwo-fields-alt {
    margin-left: 20px;
}

