
/* Yo! */

.c.selected {
    color: white;
    background-color: blue;
    /*
    background-color: lightBlue;
    */
}

#lingwo-korpus-entry-view input {
  width: 270px;
}

word {
    border: 1px solid white;
    padding: 0 1px;
}

.mode-edit word {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.mode-edit word.selected {
    background-color: red;
}

.mode-edit word.changed, word.added {
    color: white;
    background-color: green;
}

.mode-add word {
    background-color: LightGrey;
}

#lingwo-korpus-annotator-dialog {
    position: fixed;
    background-color: white;
    border: 1px solid black;
    top: 100px;
    padding: 20px;
}

