
a.anno {
    color: black;
    text-decoration: none;
}

a.anno:hover {
    background-color: #0066FF;
    cursor: pointer;
    color: white;
}

a.anno.selected {
    background-color: #FF0000;
    cursor: pointer;
    color: white;
}

#lingwo-korpus-entry-view-wrapper {
    background-color: white;
    position: absolute;
    border: 1px solid black;
    width: 298px;
    overflow: auto;
}
#lingwo-korpus-entry-view-wrapper.popup {
    max-height: 200px;
}
#lingwo-korpus-entry-view-wrapper.docked {
    position: fixed;
}
#lingwo-korpus-entry-view {
}


