<div id="bubble-form-pane-message"><%= message %></div>
<div id="bubble-form-pane-anno-form" style="display: none">
    <%= buildForm([
        {   type: 'text',
            id: 'anno-form-headword',
            label: 'Headword'
        }
    ]) %>
    <div id="anno-form-pos-wrapper" class="form-item form-radios">
        <label for="anno-form-pos"><%= Drupal.t("Part of speech") %>: </label>
        <div id="anno-form-pos" style="position: relative;"></div>
    </div>
    <%= buildForm([
        {   type: 'checkbox',
            id: 'anno-form-attributive',
            label: 'Attributive'
        },
        {   type: 'checkbox',
            id: 'anno-form-hidden',
            label: 'Hidden'
        }
    ]) %>
    
    <div><a href="javascript:void(0)" id="anno-form-lookup-entry">Lookup Entry</a></div>
</div>
<div id="bubble-form-pane-sense-form" style="display: none">
    <h4>Senses:</h4>
    <div id="sense-form-data"></div>
    <div><a href="javascript:void(0)" id="sense-form-return">Return</a></div>
</div>

